<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Parisienne&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Document</title>
</head>


<style>

    body{
        background-image: url(../static/4.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    a{
        color: white;
    }
    
    .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #7f7f7f;
    background: rgba(0,0,0,0.5);
    font-style: italic;
    position: absolute;
    height: -200px;
    margin-top: 300px;
  }

</style>

<body>

    <ul class ='nav'>
        <li class = 'nav-link'>
            <a href="{{url_for('core.index')}}">Home</a>
        </li>

        <li class = 'nav-link'>
            <a href="{{url_for('core.info')}}">About</a>
        </li>

        {% if current_user.is_authenticated %}
        <li class = 'nav-link'>
            <a href="{{url_for('users.logout')}}">Logout</a>
        </li>

        <li class = 'nav-link'>
            <a href="{{url_for('users.account')}}">Account</a>
        </li>

        <li class = 'nav-link'>
            <a href="{{url_for('blog_posts.create_post')}}">Create Post</a>
        </li>

        {% else %}
        <li class = 'nav-link'>
            <a href="{{url_for('users.login')}}">LogIn</a>
        </li>

        <li class = 'nav-link'>
            <a href="{{url_for('users.register')}}">Register</a>
        </li>

        {% endif %}
    </ul>

    
    <div class = "container">

        {% block content %}

        {% endblock %}

    </div>
    
    <div class="footer">
         <p>Created: R.S</p>
    </div>
    
</body>
</html>
